<div id="top">
  <h1>Stock Watcher</h1>
  </div>
  <div>
    <h2>Add Stocks to Your Watch List</h2>
    <form id="watchListForm">
      <input type="text" placeholder="Type the stock symbol here" id="stockName">
      <input type="submit"id="stockSubmit"value="Add to Watchlist">
    </form>
    <h2>Your Watchlist</h2>
    <p id="success"></p>
  </div>
 <table id="quoteList">
    <tr>
      <th>Symbol</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </table>