th, td{
    border-bottom:1px solid black;
  }
  th{
    background-color:#83ce7b;
  }
  
  table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    width:80%
  }
  td{
    height:2em;
    background-color:#c3ffba;
  }
  body{
    text-align:center;
  }
  #getQuotes{
    margin:1em;
    border:none;
    background-color:#bfeef2;
    padding: 10px 24px;
  }
  #top{
    border-bottom:1px solid black;
    
    
  }
  #stockSubmit{
    margin:1em;
    border:none;
    background-color:#bfeef2;
    padding: 10px 24px;
  }
  body{
    background-color:#d9f9f3;
  }
  #stockSubmit:hover{
    cursor:pointer;
    border:1px solid blue;
  }
 