
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 

      <h1>Statistics About Stock Market Data</h1>
     
      <app-bar-chart></app-bar-chart>
        <!-- <canvas id="areaChart"></canvas> -->
        
    <hr>
    
    <!-- <canvas id="lineChart" width="2%" height="1%"></canvas> -->
        
    <hr>
      <h3>Stocks</h3>
      <p>News About Stock</p>
      <!-- <app-stock></app-stock> -->
   
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
